/* for footer at the bottom of the page */
/*html, .a {*/
/*height: 100%;*/
/*}*/

.a * {
    margin: 0;
    padding: 0;
    outline: none;
}

.a div, .a span, .a i, .a input, .a label, .a ul, .a form, .a li, .a a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

i {
    font-style: normal;
}

.a {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Trebuchet MS";
    font-weight: 400;
    font-size: 16px;
    color: #333;
}

.a-container {
    background: url('../images/background.png') repeat;
}

.a-content {
    padding-top: 10px;
    padding-bottom: 80px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 150px #303030;
    -moz-box-shadow: 0 0 150px #303030;
    box-shadow: 0 0 150px #303030;
}

.a-content, .a-footer__bg {
    min-width: 1100px;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 70px;
    padding-right: 70px;
}

.a-footer__bg {
    background-color: #303030;
    /*clear: both;*/
    /*position: relative;*/
    /*margin-top: -250px;*/
}

a {
    color: inherit;
    text-decoration: none;
}

.a ul {
    list-style: none;
}

.a li {
    display: inline-block;
}

.disable-hover {
    pointer-events: none;
}

.disable-hover * {
    pointer-events: none !important;
}

.a__content {
    width: 960px;
}

.horizontal-scroll {
    position: relative;
    z-index: 900;
    height: 100px;
    padding: 0 40px;
}

.brand-scroll {
    height: 75px;
}

.brand-scroll__item {
    opacity: .8;
}

.brand-scroll__item:hover {
    opacity: 1;
}

.m-scroll {
    height: 260px;
}

.m-scroll__item {
    width: 285px;
    margin-right: 10px;

}

.m-scroll__item .m.sp {
    opacity: .8;
}

.m-scroll__item:hover .m.sp {
    opacity: 1;
}

.m-scroll__item:hover .m-link {
    border-bottom: 1px solid;
}

.horizontal-scroll__tabs {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.a__desktop__catalog {
    padding: 12px 0 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    min-width: 10000px;
    font-size: 0;
}

.catalog__item {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
}

.catalog__item:not(:last-child) {
    margin-right: 40px;
}

.arrow {
    display: block;
    position: absolute;
    height: 100%;
    width: 30px;
    top: 0;
}

.arrow:hover {
    background-color: #E7E7E7;
}

.horizontal-scroll__arrow-forward {
    right: 0;
}

.horizontal-scroll__arrow-back {
    left: 0;
}

.arrow-right, .arrow-left {
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    height: 20px;
    width: 15px;
    position: absolute;
}

.arrow-right {
    background-position: 0 -131px;
    right: 0;
}

.arrow-left {
    background-position: -15px -131px;
    left: 0;
}

.a-links {
    margin-bottom: 35px;
}

.a-links-left li:not(:last-child) {
    margin-right: 20px;
}

.link, .button {
    cursor: pointer;
}

.underline-link {
    text-decoration: none;
    border-bottom: 1px solid;
}

.dotted-link, .noline-link {
    text-decoration: none;
    border-bottom-width: 1px;
}

.dotted-link {
    border-bottom-style: dotted;
}

.white-hover:hover {
    color: #fff;
}

.green-hover:hover {
    color: #5fc1ab;
    /*color: #60c2ab;*/
}

.gold-hover:hover {
    color: #cba675;
}

.gold {
    color: #cba675;
}

.gray {
    color: #ababab;
}

.d-gray {
    color: #525252;
}

.bold {
    font-weight: bold;
}

.a-menu {
    height: 40px;
    -webkit-border-radius: 6px/7px;
    -moz-border-radius: 6px/7px;
    border-radius: 6px/7px;
    background-color: #cca675;
}

.a-menu a {
    line-height: 40px;
    display: inline-block;
}

.a-menu li {
    margin-left: 3.125%;
    text-align: center;
    /*padding: 0 1.5625%;*/
}

/*Vertical-align middle*/
.vam-line:before,
.vam-line_before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* Move this to conditional comments */
.vam-line {
    list-style: none;
    behavior: expression(
        function(t){
            t.insertAdjacentHTML('afterBegin','<span class="vam-line_before"></span>');
            t.runtimeStyle.behavior = 'none';
        }(this)
    );
}

.vam-line > * {
    vertical-align: middle;
}

.v-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.vam {
    vertical-align: middle;
}

/*----Vertical-align middle*/
/* Justify helper */
.justify-row {
    text-align: justify;
    text-align-last: justify;
}

.justify-row:after {
    content: '';
    display: inline-block;
    width: 100%;
}

/*---Justify helper */
.red-link {
    color: #b90000;
}

.flt-l {
    float: left;
}

.flt-r {
    float: right;
}

.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.a-header {
    margin-bottom: 20px;
}

.a-headline li {
    width: 24.5%;
    vertical-align: bottom;
}

.a-headline li:last-child {
    text-align: right;
}

.a-headline li > * {
    display: inline-block;
    vertical-align: middle;
}

.a-headline {
    margin-bottom: 20px;
}

.sp {
    background-image: url('../images/sprite.png');
    display: inline-block;
}

.phone-image.sp {
    width: 26px;
    height: 32px;
    background-position: 0 0;
}

.phone-code, .time {
    font-size: 12px;
    color: #9b9b9b;
}

.phone-number {
    font-size: 18px;
}

.top-line {
    vertical-align: super;
    font-size: 10px;
    margin-left: 2px;
}

.search-image.sp {
    width: 24px;
    height: 25px;
    background-position: -26px 0;
}

.search-input {
    height: 30px;
    width: 204px;
    padding-left: 10px;
    border: 1px solid #acacac;
    -webkit-border-radius: 9px/8px;
    -moz-border-radius: 9px/8px;
    border-radius: 9px/8px;
    -webkit-box-shadow: inset 1px 4px 12px rgba(0, 0, 2, .25);
    -moz-box-shadow: inset 1px 4px 12px rgba(0, 0, 2, .25);
    box-shadow: inset 1px 4px 12px rgba(0, 0, 2, .25);

}

.cart.sp {
    width: 41px;
    height: 35px;
    background-position: -52px 0;
}

.cart-total {
    font-size: 14px;
}

.cart-info {
    text-align: left;
}

.label.sp {
    width: 202px;
    height: 47px;
    background-position: 0 -35px;
}

.a-ad {
    padding: 10px;
    -webkit-border-radius: 8px/11px;
    -moz-border-radius: 8px/11px;
    border-radius: 8px/11px;
    background-color: #fff;
    border: 1px solid #acacac;
}

.a-ad__right {
    background-color: #e7caa2;
    width: calc(100% - 610px);
    height: 330px;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.title-line {
    border-bottom: 1px solid #c0c0c0;;
    margin-bottom: 15px;
    position: relative;
    height: 50px;
}

.title-line > * {
    position: absolute;
    bottom: 10px;
    vertical-align: bottom;
}

.title-line > span {
    left: 0;
}

.title-line > a {
    right: 0;
    bottom: 15px;
}

.sp.brand {
    width: 106px;
    height: 53px;
    background-position: -382px -189px;
}

.a-article {
    margin-top: 40px;
}

.m {
    display: block;
    width: 285px;
    height: 190px;
    background-position: -202px 0;
    margin-bottom: 5px;
}

.m-link {
    line-height: 14px;
}
.otzyv-desc {
    margin-bottom: 20px;
}
.m-button {
    width: 124px;
    height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #e8e8e8;

}

.hit-scroll {
    height: 300px;
}

.hit-scroll__item {
    -webkit-border-radius: 6px/7px;
    -moz-border-radius: 6px/7px;
    border-radius: 6px/7px;
    width: 180px;
    height: 270px;
    padding: 10px 5px 0 20px;
    margin-right: 0 !important;
    display: inline-block;

}

.hit-scroll__item:first-child {
    margin-left: 10px;

}

.hit-scroll__item:hover {
    -webkit-box-shadow: 1px 4px 15px #303030;
    -moz-box-shadow: 1px 4px 15px #303030;
    box-shadow: 1px 4px 15px #303030;
}

.pr-title {
    font-size: 14px;
}

.pr-price {
    font-size: 18px;
    margin-left: 4px;
    margin-bottom: 10px;
}

.pr-art {
    font-size: 10px;
    line-height: 12px;
    color: #9b9b9b;
    margin-bottom: 10px;
}

.gold-b {
    background-color: #cba675;
    color: #fff;
}

.green-b-hover:hover {
    background-color: #5fc1ab;
}

.button {
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0 20px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}

.b-button {
    width: 140px;
    height: 35px;
    line-height: 35px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    font-size: 20px;
}


.desc {
    padding: 0 25px;
}

.desc-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.desc-column {
    float: left;
    width: 30%;
}

.desc-column:not(:last-child) {
    margin-right: 3%;
}

.desc1, .desc2, .desc3 {
    height: 49px;
}

.desc1 {
    width: 48px;
    background-position: 0 -82px;
}

.desc2 {
    width: 48px;
    background-position: -50px -82px;
}

.desc3 {
    width: 40px;
    background-position: -100px -82px;
}

.desc-column > p {
    font-size: 12px;
    line-height: 16px;
}

.a-footer {
    padding-top: 30px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    position: relative;
}

.a-footer ul li {
    display: list-item;
}

.a-footer__clm-right {
    position: absolute;
    text-align: right;
    top: 30px;
    right: 0;
}

.a-footer__clm1 {
    float: left;
    margin-right: 10%;
}

.a-footer__social {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
}

.big-link {
    font-size: 16px;
}

.a-footer__copyright {
    position: absolute;
    right: 0;
    bottom: 10px;
    text-align: right;
}

.a-navs {
    margin-bottom: 40px;
}

.a-navs li:not(:last-child) {
    margin-right: 3px;
}

.a-navs li:not(:last-child):after {
    content: "-";
}

.a-navs__link {
    font-size: 14px;
}

.a-card__images, .a-card__info, .a-card__options {
    float: left;
    display: block;
}

.a-card__images {
    width: 43%;
}
.a-card__art {
    font-size: 12px;
}
.a-card__title {
    font-size: 18px;
}

.a-card__info {
    width: 44%;
    padding: 0 10px;
    border-right: 1px solid #ababab;
    /*border-right: 1px solid #525252;*/
}

.a-card__options {
    width: 13%;
    text-align: center;
    padding-top: 15px;
    padding-left: 10px;
}
.a-card__options li {
    margin-bottom: 50px;
}

.a-card__links {
    font-size: 0;
}

.a-card__link {
    font-size: 10px;
    margin-left: 8px;
}

.new-price {
    font-size: 30px;
    color: #000;
}
.old-price {
    font-size: 14px;
    text-decoration: line-through;
    color: #6d6d6d;
}
.qst {
    background-position: -95px 0;
    cursor: pointer;
    width: 12px;
    height: 12px;
    margin-left: 2px;
}
.green-grad {
    color: white!important;
    background-color: rgb(38, 156, 80);
    background-image: linear-gradient(top, #45ac69 0%, #23994d 42.8%, #61c785 100%);
    background-image: -webkit-linear-gradient(top, #45ac69 0%, #23994d 42.8%, #61c785 100%);
    background-image: -moz-linear-gradient(top, #45ac69 0%, #23994d 42.8%, #61c785 100%);
    background-image: -o-linear-gradient(top, #45ac69 0%, #23994d 42.8%, #61c785 100%);
    background-image: linear-gradient(to bottom, #45ac69 0%, #23994d 42.8%, #61c785 100%);

}

.images-list li:not(:last-child) {
    margin-right: 50px;
}

.tags-title {
    font-size: 16px;
    display: inline-block;
}
.a-card__params {
    width: 100%;
}

.param-left-clm {
    width: 50%;
    text-align: left;
    background: url("../images/dots.gif") repeat-x 100% .9em;
}
.param-right-clm {
    width: 47%;

}
.param-dots {
    width: 100%;
    border: 0 none transparent;
    border-bottom: 1px dotted black;
    background: transparent!important;
    outline: none!important;
}
.param-name {
    font-size: 12px;
    font-weight: bold;
    background-color: #fff;
    padding: 0 2px 0 0;
}
.param-value {
    font-size: 14px;
}
.params-ab-title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 25px;
}
.params-ab {
    display: block!important;
    font-size: 12px;
}
.params-ab > * {
    vertical-align: middle;
}
.starbar {
    width: 75px;
    height: 14px;
    background-position: 0 -203px;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
}

.starbar_w {
    width: 60px;
    height: 14px;
    background-position: 0 -188px;
    position: absolute;
    left: 0;
    top: 0;

}

.option1 {
    background-position: 0 -151px;
    width: 38px;
    height: 31px;
}
.option2 {
    background-position: -41px -151px;
    width: 35px;
    height: 30px;
}
.option3 {
    background-position: -75px -151px;
    width: 32px;
    height: 37px;
}
.option4 {
    background-position: -106px -151px;
    width: 31px;
    height: 36px;
}
.option {
    font-size: 12px;
}

